
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.card{
    background-color: limegreen;
    border-radius: 20px;
    width: 250px;
    height: 350px;
    padding: 20px;
    opacity: 0.9;
    margin: 50px;
}

header {
    background-color: limegreen;
    text-align: center;
    border-radius: 20px;
    opacity: 0.9;
    
}

th {
    font-size: 22px;
    padding: 2px;
    text-align: center;
}

td{
    padding: 3px;
}

.button{
    background-color: white;
    color: limegreen;
    margin: 3px;
    border-radius: 5px;
    font-weight: bold;
    border-color: lime;
    font-family: 'Courier New', Courier, monospace;
}

.fas {
    color: limegreen;
    margin-left: 1400px;
    font-size: larger;
    text-align: right;
}

.far {
    padding-right: 15px;
}