
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.card{
    background-color: limegreen;
    border-radius: 20px;
    width: 250px;
    height: 350px;
    padding: 20px;
    opacity: 0.9;
}

header {
    background-color: limegreen;
    text-align: center;
    border-radius: 20px;
    opacity: 0.9;
    
}
